/* CSS GOES HERE */
@font-face {
    font-family: 'paragraph';
    src: url(../Fonts/DarkerGrotesque-VariableFont_wght.ttf);
    font-weight: 0px;

}

html {
    scroll-behavior: smooth;
}

.subheader {
    margin-top: 0;
    margin-bottom: 25px;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: .01em;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 0;
    flex-shrink: 0;
    margin-right: 30px;
}

.nav-logo {
    height: 80px;
    width: auto;
    object-fit: contain;
    flex-shrink: 0;
    width: auto !important;
    margin-right: 20px;
}

.heroimage {
    position: relative;
    width: 100%;
    height: 550px;
    padding-top: 0px;
}


.heroimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container-paragraph {
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-top: 0%;
}


.section-title {
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 100%;
    height: 57px;
    text-align: center;
    margin-bottom: 150px;
    margin-top:150px;
    line-height: 90px;
}


.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 85px;
    position: relative;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

.about-background {
    margin: 50px auto;
    max-width: 1200px;
    background: #FFFAF5;
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
        inset 0 4px 20px rgba(255, 255, 255, 0.3);
    width: calc(100% - 200px);
}

.about-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.turtle-spot-graphic-wrapper {
    position: relative;
    height: 0;
}

.turtle-spot-graphic {
    position: absolute;
    z-index: 5;
    width: 200px;
    top: -180px;
    right: 150px;

}

.pencil-spot-graphic-wrapper {
    position: relative;
    height: 0;
}

.pencil-spot-graphic {
    position: absolute;
    z-index: 5;
    width: 200px;
    bottom: 130px;
    left: 200px;
transform: rotate(45deg);

}

.about-paragraph {
    width: 480px;
}

.about-image-wrapper{
       position: relative;
    width: 425px;
    height: 475px;
    flex-shrink: 0;
    margin-right: 100px;
}

.about-image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;       
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,   
        #f3f2f0 100%
    );
    pointer-events: none; 

.about-image {
    width: 425px;
    height: 475px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 100px;
object-position: center 30%;
}


.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    color: #fff;
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 90%;
    line-height: 80px;
}

.about-subheader {
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 35px;
    margin-top: 0%;
    padding-top: 0%;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.paragraph {
    margin-top: 0%;
    margin-bottom: 0%;
}

.body {
    font-family: 'paragraph';
    margin-top: 0;
}

.galleryimage {
    width: calc(50% - 5px);
    height: 250px;
    object-fit: cover;
}


.right-container {
    align-self: stretch;
    flex-direction: row;
    margin: 0 auto;
    display: flex;
    width: 95%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 85px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #333;
    box-shadow: 0 20px 36.8px -15px rgba(0, 0, 0, 0.25);
}


.left-container {
    align-self: stretch;
    display: flex;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 85px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #333;
    box-shadow: 0 20px 36.8px -15px rgba(0, 0, 0, 0.25);
}


.left-container-text {
    align-self: stretch;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 421px;
    flex-shrink: 0;
    gap: 70px;
}


.right-container-text {
    align-self: stretch;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 421px;
    flex-shrink: 0;
    gap: 70px;
}


.button-wrapper {
    align-self: flex-start;

}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.about-button {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Darker Grotesque";
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 6.800000190734863px rgba(0, 0, 0, 0.54);
    overflow: hidden;
    border-radius: 100px;
    outline: 2px black solid;
    outline-offset: -2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: 35px;
}


div#wrapper {
    background: coral;
}


div.text-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}


section {
    padding: 0px 85px;
    margin-top: 0%;
    margin-bottom: 40px;
}


body {
    background: linear-gradient(180deg, #FFFAF5 6.73%, #a4ccc4 53.37%, #FFFAF5 100%);
    background-repeat: no-repeat;
    background-size: cover;

}

.light-mode-background {
    top: 40px;
    z-index: 10;
    display: flex;
    width: 10px;
    height: 45px;
    transform: rotate(-90deg);
    padding: 8px 12px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 32px;
    border: 3px solid #333;
    background: #333;
    align-self: center;
}

.light-mode-button {
    width: 20px;
    height: 20px;
    background: #333;
    border: 2px solid #FFFAF5;
    border-radius: 50%;
    flex-shrink: 0;
}


.container {
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
}


.text-gallery-container-right {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    flex: 1 0 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 85px);
    align-items: flex-start;
    margin-right: 0px;
}


p {
    font-family: 'paragraph';
}


h1 {
    font-size: 3em;
}


section .gallery {
    width: 100%;
}



footer {
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    background-color: #333;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.footer-cta a {
    text-decoration: none;
    color: #FFFAF5;
    border-radius: 200px;
    outline: 2px rgb(230, 226, 226) solid;
    outline-offset: 4px;
}

.footer-copyright-cta {
    display: flex;
    flex-direction: row;
    padding: 0px 85px 0px 0px;
    text-decoration: none;
    color: #FFFAF5;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}


.text-footer-container {
    width: 656px;
    padding: 0px 3%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 13px;
    flex-shrink: 0;
    color: #FFFAF5;
    margin-top: 0%;
    flex: 1;
}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-nav li a {
    color: #FFFAF5;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
    display: block;

}

.bottom-nav {
    display: flex;
    justify-content: space-between;
    font-family: "Darker Grotesque";
    font-size: 20px;
    color: #FFFAF5;
    justify-content: flex-end;
    padding-bottom: 0;
    padding: 40px 65px 0px 0px;
}

.bottom-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
    justify-content: flex-end;
}

.footer-copyright {
    margin: 0;
    padding: 0;
}

.footer-cta {
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block;
}


.nav-list li a {
    padding: 14px 10px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}


.footer-copyright {
    padding-top: 0%;
    margin-bottom: 20px;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 10;
    color: #333;
    font-family: "Darker Grotesque";
    font-style: normal;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    margin-left: 110px;
    box-sizing: border-box;
    align-items: center;
}

.top-nav a,
.bottom-nav a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: "Darker Grotesque";

}

.top-nav a {
    color: #333;
}

.bottom-nav a {
    color: #FFFAF5;
}


.thank-you {
    display: flex;
    width: 100%;
    height: 155px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 230px;
    margin-top: 70px;

}

.thank-subheader {
    color: #333;
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 5px;
}


.time-indicator-left {
    color: #FFFAF5;
    position: relative;
    top: 30px;
    left: 60px;
    letter-spacing: .05em;
    font-family: 'Darker Grotesque';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    display: inline-flex;
    padding: 8px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: #FFFAF5;
    border: 3px solid #FFFAF5;
    background: #97AA6A;
    box-shadow: 0 4px 6.8px 0 rgba(0, 0, 0, 0.54);
}


.time-indicator-right {
    color: #FFFAF5;
    position: relative;
    top: 30px;
    left: 75%;
    letter-spacing: .05em;
    font-family: 'Darker Grotesque';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    display: inline-flex;
    padding: 8px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: #FFFAF5;
    border: 3px solid #FFFAF5;
    background: #97AA6A;
    box-shadow: 0 4px 6.8px 0 rgba(0, 0, 0, 0.54);

}

.footer-container {
    display: flex;
    flex-direction: column;
}



/*ABOUT SECTION*/

.faq-box {
    align-self: stretch;
    width: 95%;
    margin: 0 auto 95px auto;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 85px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #333;
    box-shadow: 0 20px 36.8px -15px rgba(0, 0, 0, 0.25);
}

.answer {
    display: none;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 18px;
    margin-top: 30px;
    max-width: 850px;
}


.faq-arrow {
    width: 12px;

    height: 12px;
transform: rotate(45deg);
    border-right: 5px solid #FFFAF5;
    border-bottom: 5px solid #FFFAF5;
    transition: transform 0s ease;
    margin-left: 10px;  
}

.faq-box .subheader {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.faq-box.open .faq-arrow {
    transform: rotate(-135deg);
}

.faq-box.open .answer {
    display: block;
}

.faq-box {
    cursor: pointer;
}

.faq-box .subheader {
    margin-top: 0;
    margin-bottom: 0;
}
}