/* CSS GOES HERE */
@font-face {
    font-family: 'paragraph';
    src: url(../Fonts/DarkerGrotesque-VariableFont_wght.ttf);
    font-weight: 400;

}

html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a[href="about.html"]{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    width: 100%; height: 100%; 
    padding-left: 40px; padding-right: 40px; padding-top: 15px; padding-bottom: 
    15px; box-shadow: 0px 4px 6.800000190734863px rgba(0, 0, 0, 0.54); 
    overflow: hidden; border-radius: 100px; outline: 3px black solid; 
    outline-offset: -3px; flex-direction: column; justify-content: center; 
    align-items: center; gap: 10px; display: inline-flex"

}

div#wrapper {
    background: coral;
}

div.text-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
section {
    padding: 60px 20px;
}
section:nth-child(even) {
    background-color: #f2f2f2;
}
.container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
.gallery{

  display:grid 
}
}

p{
    font-family: 'paragraph';
}
h1 {
    font-size: 3em;
}
section .gallery {
    width: 100%;
}
section .gallery img {
    width: 32%;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}