/* CSS GOES HERE */
@font-face {
    font-family: 'paragraph';
    src: url(../Fonts/DarkerGrotesque-VariableFont_wght.ttf);
    font-weight: 0px;

}

html {
    scroll-behavior: smooth;
}

.hero-wrapper {position: relative;}

.subheader {
    margin-top: 0;
    margin-bottom: 40px;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: .01em;
}


.heroimage {
    position: relative;
    width: 100%;
    height: 550px;
    padding-top: 0px;
}


.heroimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container-paragraph {
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}


.section-title {
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 100%;
    height: 57px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 90px;
}


.about-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px 85px;
    position: relative;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
}

.spot-graphic-wrapper {
    position: relative;
    height: 0;
}

.spot-graphic {
    position: absolute;
    z-index: 5;
    width: 200px;
    top: -100px;
    right: 85px;

}

.about-paragraph {
    width: 480px;
}

.about-image {
    width: 425px;
    height: 475px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 100px;
}


.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 150px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    width: 90%;
    line-height: 80px;
}

.about-subheader {
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 35px;
    margin-top: 0%;
    padding-top: 0%;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.paragraph {
    margin-top: 0%;
    margin-bottom: 0%;
}

.body {
    font-family: 'paragraph';
    margin-top: 0;
}

.galleryimage {
    width: calc(50% - 5px);
    height: 250px;
    object-fit: cover;
}


.right-container {
    align-self: stretch;
    flex-direction: row;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 85px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #333;
    box-shadow: 0 20px 36.8px -15px rgba(0, 0, 0, 0.25);
}


.left-container {
    align-self: stretch;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 60px 85px;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    background: #333;
    box-shadow: 0 20px 36.8px -15px rgba(0, 0, 0, 0.25);
}


.left-container-text {
    align-self: stretch;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 421px;
    flex-shrink: 0;
    gap: 70px;
}


.right-container-text {
    align-self: stretch;
    color: #FFFAF5;
    font-family: "Darker Grotesque";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    max-width: 421px;
    flex-shrink: 0;
    gap: 70px;
}


.button-wrapper {
    align-self: flex-start;
}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.about-button {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Darker Grotesque";
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 15%;
    padding-bottom: 15%;
    box-shadow: 0px 4px 6.800000190734863px rgba(0, 0, 0, 0.54);
    overflow: hidden;
    border-radius: 100px;
    outline: 2px black solid;
    outline-offset: -2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: 35px;
}


div#wrapper {
    background: coral;
}


div.text-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}


section {
    padding: 0px 85px;
    margin-top: 0%;
    margin-bottom: 30px;
}


body {
    background: linear-gradient(180deg, #FFFAF5 6.73%, #A4CCC4 53.37%, #FFFAF5 100%);
    background-repeat: no-repeat;
    background-size: cover;

}

.light-mode-control-group{
}

.light-mode-background {
    display: flex;
    width: 10px;
    height: 45px;
    transform: rotate(-90deg);
    padding: 8px 12px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 32px;
    border: 3px solid #333;
    background: #333;
    top: 40px;
    left: 85px;
}

.light-mode-button {
    width: 20px;
    height: 20px;
    background: #333;
    border: 2px solid #FFFAF5;
    border-radius: 50%;
    flex-shrink: 0;
}

.container {
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
}


.text-gallery-container-right {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    flex: 1 0 0;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 85px);
    align-items: flex-start;
    margin-right: 0px;
}


p {
    font-family: 'paragraph';
}


h1 {
    font-size: 3em;
}


section .gallery {
    width: 100%;
}



footer {
    display: flex;
    width: 100%;
    height: 237px;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    background-color: #333;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.footer-copyright-cta {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    text-decoration: none;
    color: #FFFAF5;
}


.footer-cta {
    color: #FFFAF5;
}


.text-footer-container {
    display: flex;
    width: 656px;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
    flex-shrink: 0;
    color: #FFFAF5;
    padding: 30px 30px;

}


.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.nav-list li {
    display: inline-block;
}


.nav-list li a {
    padding-right: 70px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
}


.footer-copyright {
    padding-right: 20px
}

.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #333;
    font-family: "Darker Grotesque";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    padding: 40px 85px;
    justify-content: space-between;
}


.thank-you {
    display: flex;
    width: 100%;
    height: 155px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 45px;
    margin-top: 45px;

}

.thank-subheader {
    color: #333;
    text-align: center;
    font-family: "Darker Grotesque";
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 5px;
}


.time-indicator-left {
    color: #FFFAF5;
    position: relative;
    top: 30px;
    left: 60px;
    letter-spacing: .05em;
    font-family: 'Darker Grotesque';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    display: inline-flex;
    padding: 8px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: #FFFAF5;
    border: 3px solid #FFFAF5;
    background: #97AA6A;
    box-shadow: 0 4px 6.8px 0 rgba(0, 0, 0, 0.54);
}


.time-indicator-right {
    color: #FFFAF5;
    position: relative;
    top: 30px;
    left: 75%;
    letter-spacing: .05em;
    font-family: 'Darker Grotesque';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    display: inline-flex;
    padding: 8px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    color: #FFFAF5;
    border: 3px solid #FFFAF5;
    background: #97AA6A;
    box-shadow: 0 4px 6.8px 0 rgba(0, 0, 0, 0.54);

}